<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>363373528048-vb8eubj3jragf1jh0gveebjeitmckmvl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363373528048-vb8eubj3jragf1jh0gveebjeitmckmvl</string>
	<key>API_KEY</key>
	<string>AIzaSyCPreogKsCoZ7jXAIbiN9kObURJ38tCsp8</string>
	<key>GCM_SENDER_ID</key>
	<string>363373528048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatboxApp</string>
	<key>PROJECT_ID</key>
	<string>chat-2697f</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-2697f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363373528048:ios:9f054f41fe67f429355335</string>
</dict>
</plist>